.swiper-button-next{
    background-image: url(../assest/svg/right-arrow-next-svgrepo-com.svg);
    background-repeat: no-repeat; 
    
}
.swiper-button-prev{
    background-image: url(../assest/svg/left-arrow-next-svgrepo-com.svg);
    background-repeat: no-repeat;
}
.swiper-button-next::after,.swiper-button-prev::after{
content:"";
}
